@* accountCreation Template File *@
@()(implicit request: MessagesRequestHeader, flash:Flash)

@main("Account Creation") {
    <h1><a href="@routes.VOPController.loginView">Virtual Online Pet</a></h1>
    <div></div>
    <h2>Create New Account</h2>    
    <div></div>
    
    <div class="loginform">
    <form action="@routes.VOPController.register" method="post">
     @helper.CSRF.formField
        Username:<br>
        <input type="text" name="username" required></input>
        <br>
        Password:<br>
        <input type="password" name="password" required></input>
        <br>
        <input type="submit" name="Register" value="Register"></input>
    </form>
    </div>
}