@* changePW Template File *@
@()(implicit request: MessagesRequestHeader, flash:Flash)

@main("changepassword") {
    <h1><a href="login">Virtual Online Pet</a></h1>
    <div></div>
    <h2>Change Password</h2>    
    <div></div>
    
    <div class="loginform">
    <form method="post" action=@routes.VOPController.changePassword>
     @helper.CSRF.formField
     	Old Password:<br>
    	<input type="password" name="oldPassword" required></input>
    	<br>
    	New Password:<br>
        <input type="password" name="newPassword" required></input>
        <br>
        <input type="submit" name="change"></input>
    </form>
    </div>
}