@* login Template File *@
@(param: Any)

@main("login") {
    <h1><a href="@routes.VOPController.loginView">Virtual Online Pet</a></h1>
    <div></div>
    <h2>Login</h2>    
    <div></div>
    

    
    <div class="loginform">
    <form action="@routes.VOPController.chooseNewPetView" method="get">
        <input type="text" name="Username"></input>
        <input type="text" name="Password"></input>
        <input type="submit" name="Login"></input>
    </form>
    </div>
    
    <p><a href="@routes.VOPController.registerView">Create New Account</a></p>
}