@* login Template File *@
@()(implicit request: MessagesRequestHeader, flash:Flash)

@main("login") {
    <h1><a href="@routes.VOPController.loginView">Virtual Online Pet</a></h1>
    <div></div>
    <h2>Login</h2>    
    <div></div>
    

    
    <div class="loginform">
    <form action="@routes.VOPController.login" method="post">
    @helper.CSRF.formField
        Username:<br>
        <input type="text" name="username" required></input>
        <br>
        Password:<br>
        <input type="password" name="password" required></input>
        <br>
        <input type="submit" name="Login" value="Login"></input>
    </form>
    </div>
    
    <p><a href="@routes.VOPController.registerView">Create New Account</a></p>
}