body {
        background-color: beige;
}

h1 {
    font-family: "Times New Roman";
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    text-decoration: "none";
    color: "black";
}

h2 {
    font-family: "Times New Roman";
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

p {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.pet {
  margin: 15px;
  float: center;
  padding: 5px;
}

img {
  margin-left: auto;
  margin-right: auto;
}

.loginform {
    padding: 50px;
    text-align: center;
}

.menu li {
	display: inline;
}

.menu li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.menu li a:hover {
	background-color: #111;
}

.active {
	background-color: #555;
}

.menu {
	text-align: center;
	align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.alert {
	padding-top: 5px;
	padding-right: 25px;
	float: right;
	width: 300px;
}

.alert ul {
	align: justify;
}

.alert ul li {
	text-align: justify;
	margin: 5px 0;
	display: block;
	background-color: #888;
}

.alert ul li:hover {
	background-color: #999;
}

.pic {
	padding-top: 200px;
	padding-left: 400px;
	float: left;
	width: 300px;
}

.info {
	padding-top:200px;
	padding-left: 200px;
	float: left;
	width: 150px;
}

.info ul {
	align: center;
}